@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Xynthesis.Modelo.xyp_RepTarificacionEntraSalieTrans_Result>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Xynthesis.css" rel="stylesheet" />
<script type="text/javascript" src="~/fonts/select/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="~/fonts/select/css/bootstrap-select.min.css">
<script src="~/fonts/select/js/bootstrap-select.min.js"></script>
<script src="~/fonts/select/js/i18n/defaults-*.min.js"></script>
<link rel="stylesheet" href="~/Content/selectorfiltro.css">


@{
    ViewBag.Title = "Reporte de Tarificación";
    var mod = (List<Xynthesis.Modelo.xy_subscriber>)ViewData["usuario"];
    var mod2 = (List<Xynthesis.Modelo.xy_costcenters>)ViewData["area"];
    var mod3 = (List<Xynthesis.Modelo.xy_sucursal>)ViewData["sucursal"];
}

<div class="container">
    <br />
    <div class="text-center">
        <h2><strong>Consolidado por usuario</strong></h2>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("RepTarificacionEntraSalieTrans_", "RepTarificacionEntraSalieTrans", FormMethod.Get))
            {
                <div class="form-group form-inline">
                    @Html.TextBox("FechaInicial", null, new { @class = "form-control", @placeholder = "Fecha inicial", style = "width:110px" })
                       @Html.TextBox("FechaFinal", null, new { @class = "form-control", @placeholder = "Fecha final", style = "width:110px" })

                    <select class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-live-search-placeholder="USUARIO" title="USUARIO" id="NomUsuario" name="usuarioId" data-size="10">
                        @foreach (var usuar in mod)
                        {
                            <option id="@usuar.Nom_Subscriber" value="@usuar.Ide_Subscriber">@usuar.Nom_Subscriber</option>
                        }
                    </select>

                    <select class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-live-search-placeholder="AREA" title="AREA" id="NomArea" name="areaId" data-size="10">
                        @foreach (var are in mod2)
                        {
                            <option id="@are.Nom_CostCenter" value="@are.Ide_CostCenter">@are.Nom_CostCenter</option>
                        }
                    </select>
                    <select class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-live-search-placeholder="SUCURSAL" title="SUCURSAL" id="NomSucursal" name="sucursalId" data-size="10">
                        @foreach (var suc in mod3)
                        {
                            <option id="@suc.NombreSucursal" value="@suc.IdSucursal">@suc.NombreSucursal</option>
                        }
                    </select>

                    <button type="submit" name="btnEnviar" id="enviar" class="btn btn-success" title="GENERAR"><i class="fas fa-file-export"></i></button>
                    <div class="form-group mx-5 text-center pull-right" id="fec">
                        <label id="lblFechas" class="control-label">@ViewBag.fechaini @ViewBag.fechafin</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-2 text-right">
            @using (Html.BeginForm("Reportes", "RepTarificacionEntraSalieTrans"))
            {
                <div class="form-group form-inline ">
                    <select name="opcion" class="form-control">
                        <option value="pdf">PDF</option>
                        <option value="excel">EXCEL</option>
                        <option value="word">WORD</option>
                    </select>

                    <button type="submit" name="btnGenerarReporte" id="GenerarReporte" class="btn btn-success" title="EXPORTAR"><i class="fas fa-print"></i></button>
                </div>
            }
        </div>
    </div>


    <table class="table table-condensed table-responsive table-striped table-hover">
        <tr tr style="background-color:#E1E1E1;font-size:smaller;">
            <th style="font-size:smaller;">
                <strong>USUARIO</strong>
            </th>
            <th style="font-size:smaller;" class="text-center">
                <strong>SUCURSAL</strong>
            </th>
            <th style="font-size:smaller;" class="text-center">
                <strong>ÁREA</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="NÚMERO DE LLAMADAS ENTRANTES">
                <strong>NRO. ENTRANTES</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="TIEMPO TOTAL DE LAS LLAMADAS ENTRANTES(Min.)">
                <strong>TIEMPO ENTRANTES (Min.)</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="TIEMPO PROMEDIO DE LLAMADAS ENTRANTES(Min.)">
                <strong>TIEMPO PROM. ENTRANTES (Min.)</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="NÚMERO DE LLAMADAS SALIENTES">
                <strong>NRO. SALIENTES</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="TIEMPO TOTAL DE LAS LLAMADAS SALIENTES(Min.)">
                <strong>TIEMPO SALIENTES (Min.)</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="TIEMPO PROMEDIO DE LLAMADAS SALIENTES(Min.)">
                <strong>TIEMPO PROM. SALIENTES (Min.)</strong>
            </th>
            <th style="font-size:smaller;" class="text-left">
                <strong>LLAMADAS PERDIDAS</strong>
            </th>
            <th style="font-size:smaller;" class="text-left">
                <strong>LLAMADAS TRANSFERIDAS</strong>
            </th>
            <th style="font-size:smaller;" class="text-left" title="TIEMPO PROMEDIO DE ESPERA (Seg.)">
                <strong>TIEMPO PROM. ESPERA (Seg.)</strong>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="font-size:smaller;">
                    @Html.DisplayFor(modelItem => item.Nom_Subscriber)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.NombreSucursal)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.Nom_CostCenter)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.NroLlamadasEntrantes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.DuracionEntrantes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.TiempoPromedioEnrantes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.NroLlamadasSalientes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.DuracionSalientes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.TiempoPromedioSalientes)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.LlamadasPerdidas)
                </td>
                <td style="font-size:smaller;" class="text-center">
                    @Html.DisplayFor(modelItem => item.TiempoPromedioEspera)
                </td>
                <td style="font-size:smaller;"class="text-center">
                    @Html.DisplayFor(modelItem => item.TiempoPromediEsperaPerdida)
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("RepTarificacionEntraSalieTrans", new { page, opcion = ViewBag.paraPaginacion, paraPaginacion = ViewBag.paraPaginacion }))
</div>
<script src="~/Scripts/NotacionDecimal.js"></script>



